{% extends "base.html" %} {% block content %}
<div class="main-container">
<section class="tasks-container">
    <h2>Projects</h2>
{% for project in projects %}
    <div class="projects-wrapper">
        <a href="/projects/{{project.id}}/tasks">
        <h3>{{ project.name }}</h3>
        </a>
    </div>   
    <form action="/projects/{{project.id}}/delete" method="POST">
        <button>
          <span class="material-symbols-outlined" style="font-size: 35px"> close </span>
        </button>
      </form>
{% endfor %}
</section>
<a href="/projects/new" class="add-item-btn">
    <button class="add-item-btn"><span class="material-symbols-outlined"> add </span></button>
  </a>

{% endblock %}
</div>
