{% extends "base.html" %} {% block content %}
<div class="main-container">
    <div class="background-small_header"><h1>Projects</h1></div>
<section class="tasks-container">
    
{% for project in projects %}
    <div class="projects-wrapper">
        <a class="project_task-anchor" href="/projects/{{project.id}}/tasks">
            <h3>{{ project.name }}</h3>
        </a>
        <form action="/projects/{{project.id}}/delete" method="POST">
            <button>
                <span class="material-symbols-outlined" style="font-size: 35px"> close </span>
            </button>
        </form>
    </div> 
{% endfor %}
</section>
<a href="/projects/new" class="add-item-btn">
    <span class="material-symbols-outlined" style="font-size: 65px; "> add </span>
</a>

{% endblock %}
</div>
