{% extends "base.html" %} {% block content %}
<div class="main-container">
  <section class="tasks-container">
    <h2>Completed</h2>
    {% for task in tasks %} {% if task.completed == True %}
    <div class="task-wrapper">
      <h3>{{ task.title }}</h3>
      <p>{{ task.description}}</p>
      <div class="task-buttons">
        <a href="/tasks/{{task.id}}/edit"
          ><button>
            <span class="material-symbols-outlined" style="font-size: 35px"> edit </span>
          </button>
        </a>
        <form action="/tasks/{{task.id}}/status_update" method="POST">
          <button type="submit" value="False" id="completed" name="completed">
            <span class="material-symbols-outlined" style="font-size: 35px"> done</span>
          </button>
        </form>

        <form action="/tasks/{{task.id}}/delete" method="POST">
          <button>
            <span class="material-symbols-outlined" style="font-size: 35px"> close </span>
          </button>
        </form>
      </div>
    </div>
    {% endif %} {% endfor %}
  </section>

  <section class="tasks-container">
    <h2>Incomplete</h2>
    {% for task in tasks %} {% if task.completed == False %}
    <div class="task-wrapper">
      <h3>{{ task.title }}</h3>
      <p>{{ task.description}}</p>
      <div class="task-buttons">
        <a href="/tasks/{{task.id}}/edit"
          ><button>
            <span class="material-symbols-outlined" style="font-size: 35px"> edit </span>
          </button>
        </a>
        <form action="/tasks/{{task.id}}/status_update" method="POST">
          <button type="submit" value="True" id="completed" name="completed">
            <span class="material-symbols-outlined" style="font-size: 35px"> done</span>
          </button>
        </form>

        <form action="/tasks/{{task.id}}/delete" method="POST">
          <button>
            <span class="material-symbols-outlined" style="font-size: 35px"> close </span>
          </button>
        </form>
      </div>
    </div>
    {% endif %} {% endfor %}
  </section>

  <a href="/tasks/new" class="add-item-btn">
    <button class="add-item-btn"><span class="material-symbols-outlined"> add </span></button>
  </a>

  {% endblock %}
</div>
