{% extends "base.html" %} {% block content %}
<div class="return-button-wrap">
    <a class="project_task-anchor" href="/projects">
        <span class="material-symbols-outlined" style="font-size: 35px"> close </span>
    </a>
</div>
<div class="background-small_header"><h1>{{project.name}}</h1></div>

<div class="main-container">    
    <section class="tasks-container">
        <h2>To Do</h2>
        {% for task in tasks %} {% if task.completed == False %}
        <div class="task-wrapper">
            <div class="project_task-anchor">
                <a href="/projects/{{project.id}}/tasks/{{task.id}}/edit">
                    <h3>{{ task.title }}</h3>
                </a>
            </div>
            <a class="project_task-anchor description-display" href="/projects/{{project.id}}/tasks/{{task.id}}/edit">
                <h3>{{ task.description}}</h3>
            </a>
            <div class="task-buttons">
                <form action="/projects/{{project.id}}/tasks/{{task.id}}/status_update" method="POST">
                    <button type="submit" value="True" id="completed" name="completed">
                        <span class="material-symbols-outlined" style="font-size: 35px; color:red"> done</span>
                    </button>
                </form>
                <form action="/projects/{{project.id}}/tasks/{{task.id}}/delete" method="POST">
                    <button>
                        <span class="material-symbols-outlined" style="font-size: 35px;"> close </span>
                    </button>
                </form>
            </div>
        </div>
        {% endif %} {% endfor %}
    </section>

    <section class="tasks-container">
        <h2>Completed Tasks</h2>
        {% for task in tasks %} {% if task.completed == True %}
        <div class="task-wrapper">
            <div class="project_task-anchor">
                <a href="/projects/{{project.id}}/tasks/{{task.id}}/edit">
                    <h3>{{ task.title }}</h3>
                </a> 
            </div>
            <a class="project_task-anchor description-display" href="/projects/{{project.id}}/tasks/{{task.id}}/edit">
                    <h3>{{ task.description }}</h3>
            </a>
            <div class="task-buttons">
                <form action="/projects/{{project.id}}/tasks/{{task.id}}/status_update" method="POST">
                    <button type="submit" value="False" id="completed" name="completed">
                        <span class="material-symbols-outlined" style="font-size: 35px; color:green"> done</span>
                    </button>
                </form>
                <form action="/projects/{{project.id}}/tasks/{{task.id}}/delete" method="POST">
                    <button>
                        <span class="material-symbols-outlined" style="font-size: 35px"> close </span>
                    </button>
                </form>
            </div>
        </div>
        {% endif %} {% endfor %}
    
    </section>
</div>
<a href="/projects/{{project.id}}/tasks/new" class="add-item-btn">
    <span class="material-symbols-outlined" style="font-size: 65px; "> add </span>
</a>
{% endblock %}

