<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>Library Management</title>
  </head>
  <body>
    <header>
      <nav>
        <ul class="menu">
          <li><a href="/">Home</a></li>
          <li><a href="/tasks">check out the tasks</a></li>
          <li><a href="/tasks/new">Add a new task</a></li>

          <div class="container">{% block content %} {% endblock %}</div>
        </ul>
      </nav>
    </header>
  </body>
</html>
